name: test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup-repo

      - name: Install Playwright browsers
        run: pnpm exec playwright install --with-deps chromium

      - name: Build packages
        run: pnpm build

      - name: Build test apps
        run: |
          pnpm --filter nextjs build
          pnpm --filter react-17 build

      - name: Run Playwright tests
        run: pnpm test

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: tests/playwright-report/
          retention-days: 30
